.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}
.slider img{
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;

}

.slider button{
    position: absolute;
    top:50%;
    transform: translateY(-50%); 
    background-color: hsl(0, 6%, 21%);
    color: white;
    font-size: 2rem;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}

.next{
    right: 0;
}